@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


.contact_container
{
    position: relative;
    z-index: 2;
    max-width: 600px;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    height: calc(100vh - 128.5px);
    /* margin-top: 50px; */
    opacity: 0;
}

.showContact
{
    animation-name: contactFadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.contact_container h1
{
    font-family: 'Noto Sans SC', sans-serif;
    color: var(--heading);
    font-size: 48px;
    margin: 0;
}

.contact_container p
{
    font-size: 16px;
    padding: 0px 25px;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--para);

}

.contact_container a
{
    text-decoration: none;
    font-family: "SF Mono", monospace;
    font-size: 14px;
    color: var(--primary);
    font-weight: 300;
    background-color: transparent;
    border-radius: 3.5px;
    border: 1px solid var(--primary);
    padding: 15px 25px;
    margin: 30px auto 0px auto;
    transition: 0.3s ease-in-out;
}

.contact_container a:hover
{
    background-color: var(--hover);

}

@keyframes contactFadeIn
{
    from
    {
        opacity: 0;
        transform: translateY(50px);

    }
    to
    {
        opacity: 1;
        transform: translateY(0px);
    }
}