@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


.experience_container
{
    position: relative;
    width: 75%;
    margin: auto;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 2;
    box-sizing: border-box;
}

.showExperience
{
    animation-name: aboutFadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.experience_container h1
{
    margin: 0px;
    font-family: 'Noto Sans SC', sans-serif;
    color: var(--heading);
    font-size: 28px;
    display: flex;
    align-items: center;
    gap: 15px;
    opacity: 0;
}

.experience_container h1::before
{
    content: '02.';
    font-family: "SF Mono", monospace;
    font-size: 22px;
    color: var(--primary);
    font-weight: 300;
    padding-top: 5px;
}

.experience_container h1::after
{
    content: "";
    height: 1px;
    width: 25%;
    background-color: var(--light-navy);
    margin-top: 5px;
}

.experience_content
{
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    opacity: 0;
}

.experience_tabs
{
    display: flex;
    flex-direction: column;
}

.experience_tabs button
{
    width: 140px;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    color: var(--para);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 0px;
    outline: none;
    border: none;
    border-left: 2px solid var(--light-navy);
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.experience_tabs button:hover
{
    color: var(--primary);
    background-color: var(--hover);
}

.selected_experience
{
    color: var(--primary) !important;
    background-color: var(--hover) !important;
}

.experience_description
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
}

.fade_in_description
{
    animation-name: fadeInDescription;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes fadeInDescription
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

.experience_description h2
{
    margin: 0px;
    font-family: 'Noto Sans SC', sans-serif;
    color: var(--heading);
    font-size: 18px;
    letter-spacing: 0.5px;
}

.experience_description h2 span
{
    color: var(--primary);
}

.experience_description h2 a
{
    color: var(--primary);
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.experience_description h2 a::after
{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.5px;
    width: 0%;
    background-color: var(--primary);
    display: block;
    transition: 0.2s ease-in-out;
}

.experience_description h2 a:hover::after
{
    width: 100%;
}

.experience_description p
{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: var(--para);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
}

.experience_description ul
{
    margin: 0;
    margin-top: 12px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
}

.experience_description ul li
{
    letter-spacing: 0.6px;
    word-spacing: 0.8px;
    font-size: 16px;
    color: var(--para);
    font-family: 'Source Sans Pro', sans-serif;
    /* display: flex;
    align-items: baseline;
    gap: 10px; */
}

.experience_description ul li::before
{
    content: "▹";
    color: var(--primary);
    font-size: 16px;
    padding-right: 8px;
}

.right_arrow
{
    width: 10px;
    fill: var(--primary);
}
