.footer_container
{
    position: relative;
    z-index: 2;
    align-items: center;
    text-align: center;
    padding: 20px 0px;
    height: auto;
}

.footer_container a
{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: var(--para);
    font-weight: 600;
    letter-spacing: 1.5px;
    word-spacing: 2.5px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    padding: 10px;
}

.footer_container a:hover
{
    color: var(--primary);

}