.major_projects_parent
{
    width: 75%;
    margin: auto;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 70px;
    /* align-items: center; */
}

.major_projects_parent h1
{
    margin: 0px;
    font-family: 'Noto Sans SC', sans-serif;
    color: var(--heading);
    font-size: 28px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.major_projects_parent h1::before
{
    content: '02.';
    font-family: "SF Mono", monospace;
    font-size: 25px;
    color: var(--primary);
    font-weight: 300;
}

.major_projects_parent h1::after
{
    content: "";
    height: 1px;
    width: 25%;
    background-color: var(--light-navy);
    margin-top: 5px;
}