.minor_projects_container
{
    z-index: 2;
    position: relative;
    height: 100vh;
    margin: auto;
    width: 75%;
    text-align: center;
    /* opacity: 0; */
    transition: opacity 0.5s ease-in-out;

}

.project_heading
{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 45px;
    opacity: 0;
}

.showMinorProjectsHeading
{
    animation-name: minorProjectsFadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.project_line
{
    margin-top: 1px;
    width: 29%;
    height: 1px;
    border-bottom: 1px solid #8892B0;

}
.project_heading h1
{
    font-family: 'Noto Sans SC', sans-serif;
    color: #CCD6F6;
    font-size: 28px;
    margin: 0px;
}

.project_container
{
    height:300px;
    width: calc(33% - 20px);;
    margin: auto;
    display: inline-block;
    margin: 7.5px 7.5px;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
    overflow: hidden;

}

.project_container:hover
{
    transform: translateY(-8px);
}

.project_container:hover .project_title
{
    color: #64FFDA;
}

@keyframes minorProjectsFadeIn
{
    from
    {
        transform: translateY(50px);
        opacity: 0;
    }
    to
    {
        transform: translateY(0px);
        opacity: 1;
    }
}