.navbar_container
{
    background-color: #0E192D;
    z-index: 10;
    position: fixed;
    padding-left: 50px;
    padding-right: 50px;
    height: 70px;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    transition: 0.3s ease-in;
}

.navbar_shadow
{
    box-shadow: 0px 10px 30px -10px rgba(2, 12, 27, 0.7);
    transition: 0.3s ease-in;
}

.navbar_remove
{
    animation-name: removeNavbar;
    animation-duration: 0.8s;
    animation-fill-mode: both;
}

@keyframes removeNavbar
{
    from 
    {
        transform: translateY(0px);
    }
    to 
    {
        transform: translateY(-70px);
    }
}

.navbar_bring
{
    animation-name: bringNavbar;
    animation-duration: 0.8s;
    animation-fill-mode: both;
}

@keyframes bringNavbar
{
    from 
    {
        transform: translateY(-70px);
    }
    to 
    {
        transform: translateY(0px);
    }
}

.logo-container
{
    width: 50px;
    height: 50px;
    background-color: black;
    animation-name: fadeInLogo;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

.nav_tabs
{
    display: flex;
    gap: 35px;
    align-items: center;
}

.nav_tabs ol
{
    padding: 0;
    display: flex;
    gap: 55px;
    list-style-type: decimal-leading-zero;
}

.nav_tabs ol li
{
    cursor: pointer;
}

.nav_tabs ol li::marker
{
    font-family: "SF Mono", monospace;
    font-size: 11.5px;
    color: var(--primary);
}

.nav_tabs ol li button
{
    cursor: pointer;
    font-family: "SF Mono", monospace;
}

.nav_tabs ol li:hover button
{
    color: var(--primary);
}

.nav_tabs ol li button
{
    border: 0;
    background-color: transparent;
    color: var(--heading);
    font-size: 13px;
    transition: 0.3s ease-in-out;
    
}

.nav_tabs ol li:nth-child(1)
{
    animation-name: fadeInNavigation;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 200ms;
}

.nav_tabs ol li:nth-child(2)
{
    animation-name: fadeInNavigation;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 400ms;
}
.nav_tabs ol li:nth-child(3)
{
    animation-name: fadeInNavigation;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 600ms;
}
.nav_tabs ol li:nth-child(4)
{
    animation-name: fadeInNavigation;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 800ms;
}

.nav_tabs a 
{
    text-decoration: none;
    font-size: 13.5px;
    color: var(--primary);
    padding: 11px 17px 11px 17px;
    background-color: transparent;
    border: 1px solid var(--primary);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
    animation-name: fadeInNavigation;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 1000ms;
}

.nav_tabs a:hover
{
    background-color: var(--hover);
}

@keyframes fadeInNavigation
{
    from 
    {
        transform: translateY(-30px);
        opacity: 0;
    }
    to 
    {

        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fadeInLogo
{
    from 
    {
        /* transform: translateY(-10px); */
        opacity: 0;
    }
    to 
    {

        /* transform: translateY(0px); */
        opacity: 1;
    }
}