
.navbar-container
{
    background-color: #0E192D;
    z-index: 10;
    position: fixed;
    padding-left: 50px;
    padding-right: 50px;
    height: 80px;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.navbar-shadow
{
    box-shadow: 0px 10px 30px -10px rgba(2, 12, 27, 0.7);
    transition: 0.3s ease-in;
}

.logo-container
{
    width: 60px;
    height: 60px;
    background-color: black;
    animation-name: fadeInLogo;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

.navigation-links
{
    display: flex;
    gap: 35px;
    align-items: center;
}

.navigation-links ol
{
    padding: 0;
    display: flex;
    gap: 55px;
    list-style-type: decimal-leading-zero;
}

.navigation-links ol li::marker
{
    font-size: 12.5px;
    color: #64FFDA;
}

.navigation-links ol li button
{
    cursor: pointer;
    font-family: "SF Mono", monospace;
}

.navigation-links ol li:hover button
{
    color: #64FFDA;
}

.navigation-links ol li button
{
    border: 0;
    background-color: transparent;
    color: #ccd6f6;
    font-size: 13px;
    transition: 0.3s ease-in-out;
    
}

.navigation-links ol li:nth-child(1)
{
    animation-name: fadeInNavigation;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    /* animation-delay: 00ms; */
}

.navigation-links ol li:nth-child(2)
{
    animation-name: fadeInNavigation;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 200ms;
}
.navigation-links ol li:nth-child(3)
{
    animation-name: fadeInNavigation;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 400ms;
}
.navigation-links ol li:nth-child(4)
{
    animation-name: fadeInNavigation;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 600ms;
}

.resume-button
{
    text-decoration: none;
    font-size: 13.5px;
    color: #64FFDA;
    padding: 11px 17px 11px 17px;
    background-color: transparent;
    border: 1px solid #64FFDA;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    border-radius: 3.5px;
    transition: 0.3s ease-in-out;
    animation-name: fadeInNavigation;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 800ms;
}

.resume-button:hover
{
    background-color: #1C303F;
}

@keyframes fadeInNavigation
{
    from 
    {
        transform: translateY(-30px);
        opacity: 0;
    }
    to 
    {

        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fadeInLogo
{
    from 
    {
        /* transform: translateY(-10px); */
        opacity: 0;
    }
    to 
    {

        /* transform: translateY(0px); */
        opacity: 1;
    }
}